main {
  width: 100%;
  background: black;
  display: table;
  height: 100vh;
}
header {
  width: 100%;
  background: black;
  height: 80px;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  padding-top: 15px;
  border-bottom: 1px solid white;
}
