.items {
  width: 80%;
  background: white;
  padding: 50px;
  padding-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 300px;
  .summa {
    text-align: center;
  }
  .items__wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
  }
}

@media screen and (max-width: 650px) {
  .items {
    margin-top: 100px;
    .items__wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}
