.one_item {
  width: 200px;
  text-align: center;
  margin-top: 30px;
  .descr {
    margin-top: 20px;
  }
  &__wrapper {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }
  .btn {
    border: 1px solid red;
    margin-top: 10px;
    padding: 4px;
    background: none;
    transition: 0.4s;
    &:hover {
      background: black;
      color: white;
      transition: 0.4s;
      cursor: pointer;
    }
  }
}
