nav {
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
  color: yellow;
  .navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    li {
      .active {
        color: red;
      }
      margin-top: 10px;
      a {
        color: wheat;
        font-size: 24px;
        text-decoration: none;
        &:hover {
          color: red;
        }
      }
    }
  }
}
